<h1>Add a New Post</h1>
<form class="" action="/posts" method="post">
    <p>Title: <input type="text" name="post[name]" id="name"></p>
    <p>Content: <input type="text" name="post[content]" id="content"></p>
    <p><input type="submit" id="submit"></p>
</form>
